<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">


<title>FLask app</title>




</head>
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>



<body>
<nav class="navbar container">
<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
	<div class="row row-centered">
		<button id="1" type="button" class="menu-item btn btn-primary col-sm-3 col-md-3 col-xs-12 col-centered" onclick="switchMenu(this.id)">menu1</button>
		<button id="2" type="button" class="menu-item btn btn-secondary col-sm-3 col-md-3 col-xs-12 col-centered" onclick="switchMenu(this.id)">menu2</button>
		<button id="3" type="button" class="menu-item btn btn-secondary col-sm-3 col-md-3 col-xs-12 col-centered" onclick="switchMenu(this.id)">menu3</button>
	</div>
</div>	
</nav>
<div id="1" class="content container col-md-8 col-md-offset-2">
	  <h1>Hello {{ user }} </h1>
    <div class=add_button>
      <button class="add btn-success" onclick="addMunkanap()">+</button>
    </div>

    <div class="munkanapok">
      Ird be a munkanapot: 
      <form id="munkanapItems">
        <div class="new_munkanap row">
            <button class="remove btn-danger" onclick="removeMunkanap(this.id)">-</button>
          <div class="col-xs-6 col-sm-2">
            <input type="text" placeholder="dátum" class="datum_mezo" >
          </div>
          <div class="col-xs-6 col-sm-2">
            <input type="number" min="0.5" max="12" step="0.5" class="munkaora" placeholder="munkaóra">
          </div>
           <div class="col-xs-12 col-sm-6">
            <textarea rows="3" placeholder="megjegyzés"></textarea>
           </div>
        </div>
      </form>
    </div>
</div>
<div id="2" class="inactive-content content container col-md-8 col-md-offset-2">
	<h1>Dev környezet web appoz</h1>
	javascript package manager (nodejs) : npm <br>
	<code>apt install nodejs</code> <br>
	web package manager: <br>
	<code>bower npm install --global bower</code> <br>
	web package-ek telepítése a static mappába: 
	<code>bower install bootstrap</code> <br>

	<h2>Backend: </h2>
	Python3 telepítése
	<code>apt install pyhton3 </code> <br>
	
	Python csomagkezelője: pip
	 <code>apt install pyhton3-pip</code> <br>
	
	<h3>Python csomag: virtualenv</h3> 
	<code>sudo pip install virtualenv</code> <br>
	
	Virtualenv: elszeparált környezet az adott fejlesztéséhez... létrehozása:<br>
	<code>virtual -p python3 /home/userm/virtualenv/sajat_appom</code> <br>
	A virualenvet létrehozás után aktiválni kell : <br>
	<code>source /home/userem/virtualenv/sajat_appom/bin/activate </code> <br>
	Ezután minden amit pythonban csinálunk a virtualenven belül fog müködni CSAK. <br>
	Python csomagok telepítése: <br>
	<code>pip install flask</code>
	
 </div>
<div id="3" class="inactive-content content container col-md-8 col-md-offset-2">
	logout




</div>



</body>
</html>